body {
  background-color: rgb(44, 27, 2);
  background-image: radial-gradient(rgb(6, 27, 2), rgb(25, 1, 31), rgb(34, 14, 1));
  font-family:"VT323",monospace;
  color: rgb(153, 255, 0);
  margin-left: 2px;
}

#gameTitle h1 {
  /* animation: text-flicker 4s linear infinite; */
  color: rgb(166, 255, 0);
  text-align: center;
  margin-top: 16%;
  font-size: 60px;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 4px 4px 78px rgb(213, 47, 255);
  border: solid rgb(196, 47, 255);
  border-radius: 8px;
  border-width: 8px;
  margin-left: 350px;
  margin-right: 350px;
  padding: 100px;
  animation: master-flicker 2s linear infinite;
  box-shadow: 0px 0px 78px 28px purple;
}
.homeScreen #offset {
  animation: master-flicker .8s linear infinite;
}
.homeScreen #beginBtn {
  font-family: 'Press Start 2P', cursive;
  margin-left: 43%;
  margin-top: 10%;
  background-color: transparent;
  font-size: 45px;
  border: none;
  border-radius: 5px;
  color: rgb(255, 72, 0);
  text-shadow: 3px 3px 12px orangered;
  font-weight: 900;
  font-stretch: extra-expanded;
}
 @keyframes master-flicker {
  0% {opacity:0.3;}
  2% {opacity:1;}
  8% {opacity:0.3;}
  9% {opacity:1;}
  12% {opacity:0.3;}
  18% {opacity:1}
  25% {opacity:0.3}
  30% {opacity:1}
  70% {opacity:0.7}
  72% {opacity:0.9}
  77% {opacity:0.3}
  100% {opacity:0.9}
}



#main-screen {
  display: none;
  color: rgb(153, 255, 0);
  animation: text-flicker 2s linear infinite;
}
#mainHeader {
  font-family: "VT323",monospace;
  color: rgb(255, 115, 0);
  text-shadow: 3px 3px 8px rgb(255, 238, 4);
  animation: textShadow 4.6s infinite;
  margin-top: 30px;
}
#mainHeader h1, #mainHeader h5 {
  color: rgb(153, 255, 0);
  font-size: 16px;
}
#char-name, #char-race, #char-class {
  background-color: transparent;
  border: none;
  color: greenyellow;
  font-family: "VT323",monospace;
}
#charCreateDiv {
  padding: 10px;
  margin-top: 5px;
  margin-left: 10px;
  margin-top: 50px;
  width: 75%;
  height: 800px;
  overflow: auto;
  border: solid rgb(255, 72, 0);
  border-width: 3px;
  resize: auto;
}
#charCreateBtn {
  background-color: transparent;
  color: rgb(248, 81, 3);
  border: none;
  border-radius: 0;
}
#charCreateBtn:hover {
  text-shadow: 5px 5px 5px rgb(255, 102, 0);
  font-family: "VT323",monospace;
}
#inputval {
  color: rgb(209, 26, 209);
}
@keyframes textShadow {
  0% {text-shadow: 0.4389924193300864px 0 1px rgba(99, 117, 255, 0.5), -0.4389924193300864px 2px 1px rgba(50,255,0, 0.53), 0 0 3px;}
  5% {text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.75), -2.7928974010788217px 2px 1px rgba(50,255,0,0.53), 0 0 3px;}
  10% {text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 2px 1px rgba(50,255,0,0.53), 0 0 3px;}
  15% {text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.75), -0.40218538552878136px 0 1px rgba(50,255,0,0.53), 0 0 3px;}
  20% {text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(50,255,0,0.53), 0 0 3px;}
  25% {text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.75), -1.6125630401149584px 0 1px rgba(50,255,0,0.53), 0 0 3px;}
  30% {text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(50,255,0,0.53), 0 0 3px;}
  35% {text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.75), -3.896914047650351px 0 1px rgba(50,255,0,0.53), 0 0 3px;}
  40% {text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(50,255,0,0.53), 0 0 3px;}
  45% {text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.75), -2.231056963361899px -2px 1px rgba(50,255,0,0.53), 0 0 3px;}
  50% {text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px -2px 1px rgba(50,255,0,0.53), 0 0 3px;}
  55% {text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.75), -2.3758461067427543px -2px 1px rgba(50,255,0,0.53), 0 0 3px;}
  60% {text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px -2px 1px rgba(50,255,0,0.53), 0 0 3px;}
  65% {text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.75), -2.8638780614874975px -2px 1px rgba(50,255,0,0.53), 0 0 3px;}
  70% {text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(50,255,0,0.53), 0 0 3px;}
  75% {text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.75), -1.8948491305757957px 0 1px rgba(50,255,0,0.53), 0 0 3px;}
  80% {text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(50,255,0,0.53), 0 0 3px;}
  85% {text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.75), -0.09769827255241735px 0 1px rgba(50,255,0,0.53), 0 0 3px;}
  90% {text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(50,255,0,0.53), 0 0 3px;}
  95% {text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.75), -2.1841838852799786px 0 1px rgba(50,255,0,0.53), 0 0 3px;}
  100% {text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(50,255,0,0.53), 0 0 3px;}
}
#gameplay-screen #commandForm {
  resize: both;
  border: solid rgb(203, 9, 252);
  border-width: 2px;
  padding: 5px;
  /* position: fixed; */
  animation: textShadow 4.6s infinite;
}
#gameplay-screen #commandLine {
  background-color: transparent;
  border: none;
  border-color: black;
  color: greenyellow;
  overflow: auto;
  resize: both;
}


#gameplay-screen {
  display: none;
  animation: textShadow 4.6s infinite;
}
#commandLineBtn {
  color: black;
}
#commandLine {
  color: greenyellow;
}
#terminalOutput {
  margin-top: 5px;
  width: 100%;
  height: 850px;
  overflow: auto;
  border: solid rgb(255, 72, 0);
  border-width: 2px;
  resize: vertical;
  animation: text-flicker 2s linear infinite;
}

#gameplay-screen {
  font-size: 20px;
}
#charStatDisplay {
  margin-top: 5px;
  width: 100%;
  height: 500px;
  border: solid rgb(162, 0, 255);
  overflow: auto;
  resize: vertical;
}
#monstStatDisplay {
    margin-top: 5px;
    width: 100%;
    height: 500px;
    border: solid rgb(255, 0, 0);
    color: red;
    overflow: auto;
    resize: vertical;
  }

  .typewriter {
    overflow: hidden;
    border-right: .15em solid greenyellow; /* The typwriter cursor */
    white-space: wrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 0.6s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes text-flicker {
    0% {opacity:0.7;}
    2% {opacity:1;}
    8% {opacity:0.7;}
    9% {opacity:1;}
    12% {opacity:0.7;}
    18% {opacity:1}
    25% {opacity:0.7}
    30% {opacity:1}
    70% {opacity:0.7}
    72% {opacity:0.9}
    77% {opacity:0.7}
    100% {opacity:0.9}
  }

/* New Box for Canvas */
#canvasDiv {
  background-color: transparent;
  border: solid rgb(31, 51, 238);
  color: rgb(31, 51, 238);;
  width: 100%;
  height: 345px;
  overflow: hidden;
  resize: vertical;
  float: left;
}

#canvas {
  /* outline: solid 1px blue; */
  /* background-color:rgb(2, 145, 61); */
  height: 400px;
  width: 600px;
}
  
  .red {
    color: red;
  }

  .yellow {
    color: yellow;
  }
  
  .blue {
    color: rgb(0, 157, 255);
  }

  .purple {
    color: purple
  }

  #inventDisplay {
    width: 100%;
    height: 345px;
    border: solid greenyellow;
    color: greenyellow;
    overflow: auto;
    resize: vertical;
  }

  /* #scrollbarStyle1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-16::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-16::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-linear-gradient(top,
											  #e4f5fc 0%,
											  #bfe8f9 50%,
											  #9fd8ef 51%,
											  #2ab0ed 100%);
} */
